@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonth1: 'Passion One', cursive;
    --fontp: 'Sriracha', cursive;
}

header{
    max-height: 20%;
    background-color: black;
    padding:50px;
}

header>h1{
    color: white;
    font-family: var(--fonth1);
    font-size: 6em;
    text-align: center;
    font-weight: 700;
}

header>p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 1.2em;
}
header>p>a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
header>p>a:hover{
    text-decoration: underline;
}

section{
    background-color: white;
    font-family: var(--fontp);
    font-size: 2em;
    line-height: 1.1em;
    padding: 30px;
}


section.normal{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
}


section.imagem{
    height: 97vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

    display: flex;
    align-items: center;

}

section.imagem#im01{
    background-image: url('img/pexels-erlian-zakia-3093479.jpg');
    background-position: center center;
}

section.imagem>div.diff{
    background-color: rgba(0, 0, 0, 0.267);
    max-width: 400px;
    max-height: 500px;
    color: white;
    padding: 5px 10px;
   
    border-radius: 10px;
}

section.imagem#im02{
    background-image: url('img/pexels-ronmar-lacamiento-806363.jpg');
    background-position: center top;
}


/*Footer*/
footer{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
}
footer>p{
    color: white;
}
footer>p>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
footer>p>a:hover{
    color: bisque;
    text-decoration: underline;
}